<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Orlando - Creative HTML Template">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Charlotte Premium Café Bistro HTML Theme</title>

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">


    <!--[if lt IE 9]>
    <script src="assets/bootstrap/js/html5shiv.min.js"></script>
    <script src="assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->

    <script src="assets/js/modernizr.custom.js"></script>

</head>
<body class="cssAnimate ptn13 ct--pageVariation">
<div class="ct-preloader"><div class="ct-preloader-content"></div></div>
<div class="ct-mainNav ct-js-background" data-bg="assets/images/menu-pattern.jpg">
    <div class="ct-mainNav-inner">
        <nav>
            <a class="ct-mainNav-logo" href="index.html">
                <img src="assets/images/content/logo.png" alt="Charlotte Logo">
            </a>
            <hr class="hr-custom ct-js-background" data-bg="assets/images/hr1.png">
            <ul class="ct-mainNav-nav text-uppercase animated" data-fx="fadeInUp">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="menu.html">Menu</a>
                </li>
                <li class="dropdown">
                    <a href="about.html">About</a>
                     <ul class="dropdown-menu">
                        <li><a href="about.html">About</a></li>
                        <li><a href="booking.html">Booking</a></li>
                        <li><a href="catering.html">Catering</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="gallery-masonry.html">Gallery</a>
                    <ul class="dropdown-menu">
                        <li><a href="gallery-masonry.html">4 columns</a></li>
                        <li><a href="gallery-masonry5.html">5 columns</a></li>
                        <li><a href="gallery-infinite.html">Infinite scroll</a></li>
                    </ul>
                </li>
                <li>
                    <a href="features.html">Features</a>
                </li>
                <li class="dropdown">
                    <a href="blog.html">Blog</a>
                    <ul class="dropdown-menu">
                        <li><a href="blog.html">Blog List</a></li>
                        <li><a href="blog-single.html">Blog Single</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
            <hr class="hr-custom ct-js-background" data-bg="assets/images/hr1.png">
        </nav>
        <div class="ct-mainNav-sidebar">
            <div class="ct-contactInfo text-uppercase animated" data-fx="fadeInUp">
                <h5 class="ct-u-colorMotive ct-u-font3">Location</h5>
                <p class="ct-u-font2">
                    199 Saint Philip<br>
                    Charleston, SC 2940
                </p>
            </div>
            <hr class="hr-custom ct-js-background animated" data-fx="fadeIn" data-time="400" data-bg="assets/images/hr2.png" data-bgrepeat="no-repeat">
            <div class="ct-contactInfo text-uppercase ct-u-paddingBottom30 animated" data-fx="fadeInUp">
                <h5 class="ct-u-colorMotive ct-u-font3">We are open</h5>
                <p class="ct-u-font2">
                    Mon—Sat: 6am–6pm<br>
                    Sunday: 6am–4pm
                </p>
            </div>
            <ul class="list-unstyled list-inline ct-socials animated" data-fx="fadeInUp" data-time="400">
                <li>
                    <a href="https://www.facebook.com/createITpl" data-toggle="tooltip"
                       data-placement="top" title="Facebook"><i class="fa fa-fw fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/createitpl" data-toggle="tooltip" data-placement="top"
                       title="Twitter"><i class="fa fa-fw fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Google +"><i
                            class="fa fa-fw fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">
    <div class="ct-navbarMobile ct-navbarMobile--inverse">
        <a class="navbar-brand" href="index.html"><img src="assets/images/content/logo.png" alt="Website Logo"> </a>
        <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <section class="ct-sidebar ct-js-sidebar ct-u-displayTable">

        <div class="ct-googleMap ct-googlemapStyle" data-location="Narbutta 24, Warsaw" data-height="100%" data-zoom="15"></div>

    </section>

    <section class="ct-content text-center ct-u-OverflowHidden">
        <section class="ct-frame ct-frame--white">
            <h3 class="ct-u-font1 text-uppercase text-center ct-u-marginTop5">contact us</h3>
            <hr class="hr-custom ct-js-background" data-bg="assets/images/hr2.png" data-bgrepeat="no-repeat">
            <h5 class="ct-u-colorMotive ct-u-font3 ct-u-size14 text-uppercase ct-u-marginBottom5">Location</h5>
            <p class="ct-address ct-u-font2">
                199 Saint Philip<br>
                Charleston, SC 2940
            </p>
            <hr class="hr-custom ct-js-background" data-bg="assets/images/hr2.png" data-bgrepeat="no-repeat">
            <h5 class="ct-u-colorMotive ct-u-font3 ct-u-size14 text-uppercase ct-u-marginBottom5">Phone</h5>
            <p class="ct-address ct-u-font2">
                207-721-9500
            </p>
            <hr class="hr-custom ct-js-background" data-bg="assets/images/hr2.png" data-bgrepeat="no-repeat">
            <h5 class="ct-u-colorMotive ct-u-font3 ct-u-size14 text-uppercase ct-u-marginBottom5">We are open</h5>
            <p class="ct-address ct-u-font2">
                Monday—Saturday: 6am–6pm <br>
                sunday—6am—4pm
            </p>
            <div class="ct-hrContainer ct-u-paddingTop15 ct-u-paddingBottom30">
                <hr class="hr-custom ct-js-background" data-bg="assets/images/hr1.png">
            </div>
            <ul class="list-unstyled list-inline ct-socials--square">
                <li>
                    <a href="https://www.facebook.com/createITpl">
                        <i class="fa fa-fw fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/createitpl">
                        <i class="fa fa-fw fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-fw fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </li>
            </ul>
            <div class="ct-hrContainer ct-u-paddingTop20 ct-u-paddingBottom5">
                <hr class="hr-custom ct-js-background" data-bg="assets/images/hr1.png">
            </div>
            <h3 class="ct-u-font1 text-uppercase text-center ct-u-paddingBottom25">latest tweet</h3>
            <!--<hr class="hr-custom ct-js-background" data-bg="assets/images/hr2.png" data-bgrepeat="no-repeat">-->
            <!--<div class="ct-twitterContent">
            <h5 class="ct-twitterContent ct-twitterTime ct-u-colorMotive ct-u-font3 ct-u-size14 text-uppercase ct-u-marginBottom5">An hour ago</h5>
               <span>Only 4% of WordPress themes on ThemeForest have earned less than $1,000 in their lifetime.</span><br>
                <span class="ct-twitterContent ct-twitterLink">
                        <a href="http://inside.envato.com/pressnomics/">http://inside.envato.com/pressnomics/</a>
                </span>
            </div>-->
            <div class="tweets_display">

            </div>

            <div class="clearfix"></div>
            <div class="ct-hrContainer ct-u-paddingTop20 ct-u-paddingBottom5">
                <hr class="hr-custom ct-js-background" data-bg="assets/images/hr1.png">
            </div>
            <h3 class="ct-u-font1 text-uppercase text-center">drop us a line</h3>
            <hr class="hr-custom ct-js-background" data-bg="assets/images/hr2.png" data-bgrepeat="no-repeat">
            <form role="form" action="assets/form/send.php" method="post" class="contactForm validateIt ct-u-paddingTop10" data-email-subject="Contact Form" data-show-errors="true">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input id="contact_name" placeholder="Your name" required type="text" name="field[]" class="form-control input-lg">
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input id="contact_email" placeholder="Email address" required type="email" name="field[]" class="form-control input-lg">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <textarea id="contact_message" placeholder="Message" class="form-control input-lg" rows="8" name="field[]" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="submit" class="btn btn-lg btn-block btn-button--dark" value="send message">
                        </div>
                    </div>
                </div>
            </form>

            <div class="successMessage alert alert-success" style="display: none">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Thank You!
            </div>
            <div class="errorMessage alert alert-danger" style="display: none">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Ups! An error occured. Please try again later.
            </div>

        </section>
    </section>
    <a href="#" id="toTop"><i class="fa fa-angle-up"></i></a>
</div>

<!-- JavaScripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.placeholder.min.js"></script>
<script src="assets/js/jquery.easing.1.3.js"></script>
<script src="assets/js/device.min.js"></script>
<script src="assets/js/jquery.browser.min.js"></script>
<script src="assets/js/snap.min.js"></script>
<script src="assets/js/jquery.appear.js"></script>
<script src="assets/js/select2/select2.js"></script>
<script src="assets/js/retina.js"></script>
<script src="assets/js/main.js"></script>



<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="assets/js/gmaps/gmap3.min.js"></script>
<script src="assets/js/gmaps/init.js"></script>
<script src="assets/form/js/contact-form.js"></script>
<script src="assets/twitter/js/jquery.tweet.js"></script>


</body>
</html>